version: '3'

services:
  bind_ext:
    container_name: bind_ext
    hostname: bind_ext
    image: dto/bind9:latest
    volumes:
      - {{remote_bind_etc_folder}}:/etc/bind:rw
      - {{remote_bind_cache_folder}}:/var/cache/bind:rw

    networks:
      front:
        ipv4_address: {{bind_container_ip_addr}}
  
  
### Networks definitions
  
networks:
  front:
    external:
      name: "{{docker_vlan10_network}}"